.blog {
  padding-bottom: 115px;

  @media (max-width: $width-desktop) {
    padding-bottom: 68px;
  }

  @media (max-width: $width-tablet) {
    padding-bottom: 60px;
  }
}

.blog h2 {
  margin-bottom: 20px;
  font-family: $font-cg;
  text-align: center;

  @include fontMeasure(700, 34px, 44px);
  color: $color-black-text;
}

.blog__read-link {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 65px;
  font-family: $font-poppins;
  margin-left: 50%;
  transform: translateX(-50%);

  @include fontMeasure(500, 16px, 21px);
  color: $color-black-text;

  @media (max-width: $width-desktop) {
    margin-bottom: 63px;
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 55px;
  }

  &:hover {
    color: rgba($color-black-text, 0.7);
  }

  &:active {
    color: rgba($color-black-text, 0.8);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 64px;
    height: 1px;
    background-color: $color-brown-menu;
  }
}

.blog ul {
  display: grid;
  gap: 29px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;

  @media (max-width: $width-desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  @media (max-width: $width-tablet) {
    gap: 40px;
  }
}

.blog li {
  display: flex;

  @media (max-width: $width-tablet) {
    flex-direction: column;
  }
}

.blog__item {
  &--big {
    position: relative;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
}

.blog__item img {
  width: 285px;
  height: 100%;
  object-fit: cover;

  @media (max-width: $width-desktop) {
    width: 339px;
    height: 100%;
  }

  @media (max-width: $width-tablet) {
    width: 290px;
    height: 256px;
  }
}

.blog__item--big img {
  width: 50vw;
  height: 100%;

  @media (max-width: $width-desktop) {
    width: 339px;
    height: 100%;
  }

  @media (max-width: $width-tablet) {
    width: 290px;
    height: 256px;
  }
}

.blog__info {
  width: 285px;
  min-height: 300px;
  padding: 68px 58px 68px 58px;
  background-color: $color-blog-info;
  text-align: center;

  @media (max-width: $width-desktop) {
    width: 339px;
    padding: 67px 88px 76px 88px;
  }

  @media (max-width: $width-tablet) {
    width: 290px;
    min-height: 256px;
    margin-top: -2px;
    padding: 45px 64px 54px 63px;
    order: 2;
  }
}

.blog__info span {
  display: block;
  margin-bottom: 13px;

  @include fontMeasure(500, 14px, 18px);
  color: $color-gray;

  @media (max-width: $width-desktop) {
    margin-bottom: 15px;
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 12px;
  }
}

.blog__info h3 {
  margin-bottom: 36px;
  font-family: $font-cg;

  @include fontMeasure(600, 26px, 34px);
  color: $color-black-text;
}

.blog__info a {
  position: relative;

  @include fontMeasure(500, 16px, 21px);
  color: $color-black-text;

  &:hover {
    color: rgba($color-black-text, 0.7);
  }

  &:active {
    color: rgba($color-black-text, 0.8);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 97px;
    height: 1px;
    background-color: $color-brown-menu;
  }
}

.blog__info--big {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 63px;

  @media (max-width: $width-desktop) {
    padding: 84px 88px 76px 88px;
    position: static;
  }

  @media (max-width: $width-tablet) {
    padding: 61px 64px 54px 63px;
  }
}
