.catalog-page .header__banner {
  min-height: 261px;
  background: #564034b2 url("../img/catalog-header-banner-desktop.jpg") center / cover no-repeat;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: #564034b2 url("../img/catalog-header-banner-desktop@2x.jpg") center / cover no-repeat;
  }

  @media (max-width: $width-desktop) {
    background: #564034b2 url("../img/catalog-header-banner-tablet.jpg") center / cover no-repeat;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: #564034b2 url("../img/catalog-header-banner-tablet@2x.jpg") center / cover no-repeat;
    }
  }

  @media (max-width: $width-tablet) {
    padding: 0 35px;
    background: #564034b2 url("../img/catalog-header-banner-mobile.jpg") center / cover no-repeat;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: #564034b2 url("../img/catalog-header-banner-mobile@2x.jpg") center / cover no-repeat;
    }
  }
}

.catalog-page .header__banner p {
  letter-spacing: normal;

  @include fontMeasure(700, 34px, 44px);

  @media (max-width: $width-desktop) {
    margin-right: 0;
  }

  @media (max-width: $width-tablet) {
    margin-right: 0;
  }
}

.catalog-page .header__banner span {
  @include fontMeasure(500, 22px, 29px);

  @media (max-width: $width-tablet) {
    margin-top: 5px;
  }
}
