.catalog-body .header__banner {
  min-height: 261px;
  background: #564034b2 url("../img/catalog-header-banner-desktop.jpg") center / cover no-repeat;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: #564034b2 url("../img/catalog-header-banner-desktop@2x.jpg") center / cover no-repeat;
  }

  @media (max-width: $width-desktop) {
    background: #564034b2 url("../img/catalog-header-banner-tablet.jpg") center / cover no-repeat;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: #564034b2 url("../img/catalog-header-banner-tablet@2x.jpg") center / cover no-repeat;
    }
  }

  @media (max-width: $width-tablet) {
    background: #564034b2 url("../img/catalog-header-banner-mobile.jpg") center / cover no-repeat;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: #564034b2 url("../img/catalog-header-banner-mobile@2x.jpg") center / cover no-repeat;
    }
  }
}

.catalog-body .header__banner p {
  @include fontMeasure(700, 34px, 44px);
}

.catalog-body .header__banner span {
  margin-top: 20px;

  @include fontMeasure(500, 22px, 29px);
}
