.footer {
  margin-top: auto;
  padding: 90px 0;
  background-color: $color-black;

  @media (max-width: $width-desktop) {
    padding: 50px 105px 55px 0;
  }

  @media (max-width: $width-tablet) {
    padding: 50px 0 35px 0;
  }
}

.footer__container {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, max-content);
  column-gap: 80px;

  @media (max-width: 1366px) {
    column-gap: 5.857vw;
  }

  @media (max-width: $width-desktop) {
    gap: 46px 65px;
  }

  @media (max-width: $width-tablet) {
    display: flex;
    flex-direction: column;
  }
}

.footer a {
  @include fontMeasure(500, 16px, 21px);
  color: $color-white;

  @media (max-width: 1365px) {
    @include fontMeasure(500, 1.171vw, 21px);
  }

  @media (max-width: $width-desktop) {
    @include fontMeasure(500, 16px, 21px);
  }

  &:hover {
    color: rgba($color-white, 0.7);
  }

  &:active {
    color: rgba($color-white, 0.8);
  }
}

.footer__form {
  color: $color-white;

  @media (max-width: $width-desktop) {
    grid-column: 1 / 4;
  }
}

.footer__form p {
  margin-bottom: 10px;
  font-family: $font-cg;
  letter-spacing: 0.03em;

  @include fontMeasure(700, 34px, 44px);

  @media (max-width: $width-tablet) {
    max-width: 66.56vw;
    margin-bottom: 14px;
  }
}

.footer__form span {
  display: block;
  margin-bottom: 30px;

  @include fontMeasure(400, 16px, 21px);
  color: $color-gray;

  @media (max-width: $width-desktop) {
    margin-bottom: 30px;
  }

  @media (max-width: $width-tablet) {
    max-width: 70.63vw;
    margin-bottom: 28px;
  }
}

.footer__form input {
  width: 385px;
  padding: 9px 0;
  border: none;
  border-bottom: 1px solid $color-white;
  background-color: transparent;
  color: $color-white;
  font-family: $font-poppins;

  @include fontMeasure(500, 14px, 21px);

  @media (max-width: 1365px) {
    width: 28.184vw;
  }

  @media (max-width: $width-desktop) {
    width: 445px;
  }

  @media (max-width: $width-tablet) {
    width: 54.6vw;
  }
}

.footer__form button {
  width: 115px;
  margin-left: -4px;
  padding: 12px 0 10px 12px;
  text-align: left;
  border: none;
  border-bottom: 1px solid $color-white;
  background-color: transparent;
  color: $color-white;
  font-family: $font-poppins;
  cursor: pointer;

  @include fontMeasure(500, 16px, 21px);

  &:hover {
    color: rgba($color-white, 0.7);
  }

  &:active {
    color: rgba($color-white, 0.8);
  }
}

.footer__form button svg {
  margin-left: 7px;
}

.footer__links {
  display: grid;
  margin: 8px 6px 0 11px;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 177px 136px;
  grid-auto-flow: row;
  gap: 21px 65px;

  @media (max-width: 1365px) {
    gap: 1.537vw 1.25vw;
    grid-template-columns: 12.96vw 9.96vw;
  }

  @media (max-width: $width-desktop) {
    margin: 0;
    grid-template-columns: 177px 136px;
    gap: 21px 80px;
  }

  @media (max-width: $width-tablet) {
    grid-template-columns: 100%;
    gap: 20px 87px;
  }
}

.footer__links li {
  @media (max-width: $width-tablet) {
    &:nth-child(4) {
      margin-bottom: 27px;
    }
  }
}

.footer__social-list {
  margin-top: 8px;

  @media (max-width: $width-desktop) {
    margin-top: 0;
  }

  @media (max-width: $width-tablet) {
    display: flex;
    margin-left: -5px;
  }
}

.footer__social-list li {
  margin-bottom: 21px;

  @media (max-width: 1365px) {
    margin-bottom: 1.537vw;
  }

  @media (max-width: $width-desktop) {
    margin-bottom: 21px;
  }

  @media (max-width: $width-tablet) {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__social-list svg {
  margin-right: 10px;
  color: $color-white;

  @media (max-width: $width-tablet) {
    width: 20px;
    height: 21px;
    margin-right: 0;
  }

  &:hover {
    color: rgba($color-white, 0.7);
  }

  &:active {
    color: rgba($color-white, 0.8);
  }
}

.footer__social-list span {
  @media (max-width: $width-tablet) {
    display: none;
  }
}
