.goods ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 30px;

  @media (max-width: $width-tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 30px;
  }
}

.goods__item {
  text-align: center;
}

.goods__item a {
  width: 100%;
  height: 100%;
  color: $color-black-text;
}

.goods__item span {
  @include fontMeasure(700, 14px, 18px);
}

.goods img {
  width: 100%;
  margin-bottom: 18px;

  @media (max-width: $width-tablet) {
    margin-bottom: 14px;
  }
}

.goods h3 {
  margin-bottom: 8px;

  @include fontMeasure(500, 16px, 21px);
}

.goods__filters-button {
  box-sizing: border-box;
  width: 250px;
  padding: 23px 23px 24px 23px;
  border: none;
  font-family: $font-poppins;
  cursor: pointer;

  @include fontMeasure(500, 16px, 21px);

  &--open {
    display: none;

    @media (max-width: $width-desktop) {
      display: block;
      width: 100%;
      margin-bottom: 50px;
      background-color: $color-brown-menu;
      color: $color-white;
    }

    @media (max-width: $width-tablet) {
      margin-bottom: 40px;
    }
  }
}
