.header__top {
  position: relative;
  border-bottom: 1px solid #f6f5f4;
  background-color: $color-white;

  &--active {
    @media (max-width: $width-desktop) {
      background-color: $color-brown-menu;
    }
  }
}

.header__top svg {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.8
  }
}

.header input {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.8;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 43px 98px 15px 98px;

  @media (max-width: $width-desktop) {
    padding: 36px 45px 28px 45px;
    align-items: center;
  }

  @media (max-width: $width-tablet) {
    padding: 24px 15px 17px 15px;
  }
}

.header__toggle-button {
  display: none;

  @media (max-width: $width-desktop) {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }
}

.header__main-nav {
  @media (max-width: $width-desktop) {
    display: none;
  }

  &--active {
    @media (max-width: $width-desktop) {
      position: absolute;
      z-index: 11;
      width: 100%;
      height: calc(100vh - 80px);
      display: block;
      background-color: $color-brown-menu;
      margin-top: -2px;
      overflow-y: scroll;
    }
  }
}

.header__main-nav--active.header__main-nav--nojs {
  margin-top: -2px;
  position: static;

  @media (max-width: $width-desktop) {
    overflow-y: visible;
    height: max-content;
  }
}

.header__main-nav .header__sublist {
  display: none;
}

.header__main-nav--active .header__sublist {
  @media (max-width: $width-desktop) {
    display: flex;
  }
}

.header__main-nav .user-nav__item-login--mobile {
  display: none;
}

.header__main-nav--active .header__search--mobile {
  @media (max-width: $width-desktop) {
    display: block;
    margin-top: 11px;
    margin-bottom: 37px;
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 27px;
  }
}

.header__main-nav--active .container {
  @media (max-width: $width-desktop) {
    display: flex;
    flex-direction: column;
    padding: 0 45px 60px 45px;
  }

  @media (max-width: $width-tablet) {
    padding: 0 15px 30px 15px;
  }
}

.header__main-nav--active ul {
  @media (max-width: $width-desktop) {
    margin-left: -2px;
    flex-direction: column;
    color: $color-white;
  }
}

.header__main-nav--active li {
  @media (max-width: $width-desktop) {
    margin-right: 0;
  }
}

.header__list {
  @media (max-width: $width-desktop) {
    margin-bottom: 25px;
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 15px;
  }
}

.header__list a {
  @media (max-width: $width-desktop) {
    padding: 10px 0;
    color: $color-white;

    @include fontMeasure(500, 24px, 36px);

    &:hover {
      color: rgba($color-white, 0.7);
    }

    &:active {
      color: rgba($color-white, 0.8);
    }
  }
}

.header__sublist {
  @media (max-width: $width-desktop) {
    margin-bottom: 20px;
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 11px;
  }
}

.header__sublist a {
  @media (max-width: $width-desktop) {
    padding: 10px 0;
    color: rgba($color-white, 0.75);

    @include fontMeasure(500, 18px, 23px);

    &:hover {
      color: rgba($color-white, 0.6);
    }

    &:active {
      color: rgba($color-white, 0.8);
    }
  }
}

.header__main-nav--active .user-nav {
  justify-content: flex-start;
}

.header__main-nav--active .user-nav__item-login--mobile {
  @media (max-width: $width-desktop) {
    display: block;
    padding: 15px 0;
    color: $color-white;

    @include fontMeasure(500, 18px, 23px);

    &:hover {
      color: rgba($color-white, 0.6);
    }

    &:active {
      color: rgba($color-white, 0.8);
    }
  }
}

.header__search {
  &--desktop {
    @media (max-width: $width-desktop) {
      display: none;
    }
  }

  &--mobile {
    position: relative;
    display: none;
  }
}

.header__search svg {
  color: $color-black;
}

.header__search input {
  border: none;
  font-family: $font-poppins;

  &::placeholder {
    color: $color-gray;

    @include fontMeasure(500, 14px, 21px);
  }
}

.header__search--desktop svg {
  margin-right: 10px;
}

.header__search--mobile input {
  width: 100%;
  padding: 10px 30px;
  background-color: rgba($color-white, 0.15);
  border-radius: 21px;
}

.header__search--mobile svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: $color-white;
}

.header__main-logo {
  margin-top: -13px;
  margin-left: -40px;

  @media (max-width: $width-desktop) {
    margin-top: -7px;
    margin-left: 28px;
  }

  @media (max-width: $width-tablet) {
    margin-top: -4px;
    margin-left: 28px;
  }
}

.header__main-logo svg {
  color: $color-brown-menu;

  @media (max-width: $width-tablet) {
    width: 52px;
    height: 52px;
  }
}

.header__top--active svg {
  @media (max-width: $width-desktop) {
    color: $color-white;
  }
}

.header__user-nav {
  max-width: 300px;
}

.header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 463px;
  background: #564034b2 url("../img/header-banner-desktop.jpg") center / cover no-repeat;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: #564034b2 url("../img/header-banner-desktop@2x.jpg") center / cover no-repeat;
  }

  @media (max-width: $width-desktop) {
    background: #564034b2 url("../img/header-banner-tablet.jpg") center / cover no-repeat;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: #564034b2 url("../img/header-banner-tablet@2x.jpg") center / cover no-repeat;
    }
  }

  @media (max-width: $width-tablet) {
    background: #564034b2 url("../img/header-banner-mobile.jpg") center / cover no-repeat;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: #564034b2 url("../img/header-banner-mobile@2x.jpg") center / cover no-repeat;
    }
  }
}

.header__banner p {
  text-align: center;
  font-family: $font-cg;
  color: $color-white;
  letter-spacing: 0.03em;

  @include fontMeasure(700, 45px, 58px);

  @media (max-width: $width-desktop) {
    margin-top: -2px;
    margin-right: 16px;
  }

  @media (max-width: $width-tablet) {
    margin: -5px 0 0 0;

    @include fontMeasure(700, 38px, 49px);
  }
}

.header__banner span {
  display: block;
  font-style: italic;
  letter-spacing: 0;

  @include fontMeasure(400, 38px, 49px);

  @media (max-width: $width-tablet) {
    margin-top: -8px;

    @include fontMeasure(700, 34px, 44px);
  }
}

.header__top--nojs .header__toggle-button {
  visibility: hidden;
}
