.instagram {
  text-align: center;
  padding-bottom: 125px;

  @media (max-width: $width-desktop) {
    padding-bottom: 75px;
  }

  @media (max-width: $width-tablet) {
    padding-bottom: 69px;
  }
}

.instagram h2 {
  margin-bottom: 30px;
  font-family: $font-cg;
  text-align: center;
  letter-spacing: 0.03em;

  @include fontMeasure(700, 34px, 44px);
  color: $color-black-text;

  @media (max-width: $width-desktop) {
    margin-bottom: 20px;
  }
}

.instagram__follow-link {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 65px;
  font-family: $font-poppins;

  @include fontMeasure(500, 16px, 21px);
  color: $color-black-text;

  @media (max-width: $width-tablet) {
    margin-bottom: 50px;
  }

  &:hover {
    color: rgba($color-black-text, 0.7);
  }

  &:active {
    color: rgba($color-black-text, 0.8);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 74px;
    height: 1px;
    background-color: $color-brown-menu;
  }
}

.instagram ul {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, max-content);
  gap: 34px 27px;

  @media (max-width: $width-desktop) {
    gap: 20px 16px;
  }

  @media (max-width: $width-tablet) {
    grid-template-columns: max-content max-content;
    gap: 24px 27px;
  }
}

.instagram__item {
  &--2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  &--3 {
    @media (max-width: $width-tablet) {
      display: none;
    }
  }

  &--4 {
    @media (max-width: $width-tablet) {
      display: none;
    }
  }
}

.instagram__item img {
  max-width: 16.837vw;
  height: 100%;

  @media (max-width: $width-desktop) {
    max-width: 100%;
    width: 17.318vw;
  }

  @media (max-width: $width-tablet) {
    width: 39vw;
  }

  @media (max-width: 320px) {
    width: min-content;
  }
}

.instagram__item--2 img {
  max-width: 29.209vw;

  @media (max-width: $width-desktop) {
    max-width: 100%;
    width: 30.078vw;
  }

  @media (max-width: $width-tablet) {
    width: 37vw;
  }

  @media (max-width: 320px) {
    width: min-content;
  }
}
