.modals {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
}

.modals:not(:focus-within) {
  margin-bottom: 1px;
  transition: margin-bottom 0.01s;
}

.modals__login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-white;
}
