.novelty {
  text-align: center;
  padding: 120px 0 106px 0;

  @media (max-width: $width-desktop) {
    padding: 70px 0 58px 0;
  }

  @media (max-width: $width-tablet) {
    padding: 60px 0 47px 0;
  }
}

.novelty h2 {
  margin-bottom: 23px;
  font-family: $font-cg;

  @include fontMeasure(700, 34px, 44px);
  color: $color-black-text;

  @media (max-width: $width-desktop) {
    margin-bottom: 18px;
  }
}

.novelty__shop-link {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 60px;
  font-family: $font-poppins;

  @include fontMeasure(500, 16px, 21px);
  color: $color-black-text;

  @media (max-width: $width-desktop) {
    margin-bottom: 55px;
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 45px;
  }

  &:hover {
    color: rgba($color-black-text, 0.7);
  }

  &:active {
    color: rgba($color-black-text, 0.8);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: $color-brown-menu;
  }
}

.novelty ul {
  justify-content: space-between;
  margin-bottom: 81px;

  @media (max-width: $width-desktop) {
    justify-content: flex-start;
    margin-bottom: 70px;
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 60px;
  }
}

.novelty__items a {
  display: block;
  width: 100%;
  height: 100%;
}

.novelty__items span {
  @include fontMeasure(700, 14px, 18px);
  color: $color-black-text;
}

.novelty img {
  width: 19.766vw;
  max-width: 270px;
  max-height: 284px;
  margin-bottom: 20px;
  align-self: left;

  @media (max-width: 1365px) {
    width: 15vw;
  }

  @media (max-width: $width-desktop) {
    max-width: 100%;
    max-height: 100%;
    width: 324px;
    height: 340px;
  }

  @media (max-width: $width-tablet) {
    width: 130px;
    height: 136px;
    margin-bottom: 15px;
  }
}

.novelty h3 {
  margin-bottom: 6px;

  @include fontMeasure(500, 16px, 21px);
  color: $color-black-text;
}

.novelty__pagination {
  text-align: center;
}

.novelty__pagination span {
  margin-right: 15px;

  @media (max-width: $width-tablet) {
    margin-right: 5px;
    margin-left: 5px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.novelty__slider {
  position: relative;
}

.novelty__button {
  position: absolute;
  top: -105px;
  width: 30px;
  height: 11px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: $width-desktop) {
    top: -95px;
  }

  @media (max-width: $width-tablet) {
    display: none;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
    transform: rotate(180deg);
  }

  &::after {
    display: none;
  }

  &:hover svg {
    color: rgba($color-brown-menu, 0.7);
  }

  &:active svg {
    color: rgba($color-brown-menu, 0.8);
  }
}

.novelty__swiper-inner {
  position: relative;
}

.novelty__button svg {
  color: $color-brown-menu;
}
