.questions {
  padding: 0 100px 108px 100px;

  @media (max-width: $width-desktop) {
    padding: 0 0 73px 0;
  }

  @media (max-width: $width-tablet) {
    padding: 0 0 60px 0;
  }
}

.questions h2 {
  margin-bottom: 50px;
  font-family: $font-cg;
  text-align: center;
  letter-spacing: 0.03em;

  @include fontMeasure(700, 34px, 44px);
  color: $color-black-text;


  @media (max-width: $width-tablet) {
    margin-bottom: 29px;
  }
}

.questions__list--nojs .questions__toggle-button {
  display: none;
}

.questions li {
  position: relative;
  padding: 43px 65px 44px 43px;
  border: 1px solid $color-brown-menu;
  margin-top: -1px;

  @media (max-width: $width-desktop) {
    padding: 42px 65px 45px 50px;
  }

  @media (max-width: $width-tablet) {
    padding: 17px 45px 21px 25px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.questions h3 {
  margin-bottom: 8px;

  @include fontMeasure(500, 18px, 23px);
  color: $color-black-text;

  @media (max-width: $width-desktop) {
    margin-bottom: 27px;
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 10px;
    margin-right: 17px;

    @include fontMeasure(500, 16px, 22px);
  }
}

.questions p {
  max-width: 527px;
  padding-left: 5px;

  @include fontMeasure(400, 16px, 21px);
  color: $color-black-text;

  @media (max-width: $width-desktop) {
    max-width: 530px;
    padding-left: 0;
  }

  @media (max-width: $width-tablet) {
    @include fontMeasure(500, 14px, 20px);
  }
}

.questions button {
  position: absolute;
  top: 46px;
  right: 43px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: $width-tablet) {
    top: 23px;
    right: 16px;
  }
}

.questions__item svg {
  color: $color-brown-menu;

  @media (max-width: $width-desktop) {
    width: 23px;
    height: 12px;
  }

  &:hover {
    color: rgba($color-brown-menu, 0.7);
  }

  &:active {
    color: rgba($color-brown-menu, 0.8);
  }
}

.questions__item.closed h3 {
  margin-bottom: 0;
}

.questions__item.opened .questions__icon {
  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.questions__item.closed .questions__icon {
  &--closed {
    display: block;
  }

  &--opened {
    display: none;
  }
}

.questions__item.closed p {
  display: none;
}

.questions__item.opened p {
  display: block;
}
