.user-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.user-nav li {
  margin-left: 35px;
}

.user-nav a {
  color: $color-black-text;

  @include fontMeasure(500, 14px, 21px);

  &:hover {
    color: rgba($color-black-text, 0.7);
  }

  &:active {
    color: rgba($color-black-text, 0.8);
  }
}

.user-nav__cart-count {
  margin-left: 5px;
}

.user-nav__item-login {
  &--desktop {
    @media (max-width: $width-desktop) {
      display: none;
    }
  }
}

.user-nav__item-cart svg {
  display: none;

  @media (max-width: $width-desktop) {
    margin-bottom: 7px;
    display: block;
  }
}

.user-nav__item-cart span {
  @media (max-width: $width-desktop) {
    display: none;
  }
}
