/* Colors */
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #9b9997;
$color-black-text: #1d1613;
$color-brown-menu: #a87b62;
$color-blog-info: #f0eae4;


/* Viewports */
$width-tablet: 767.2px;
$width-desktop: 1023.2px;

/* Fonts */
$font-poppins: "Poppins", "Arial", sans-serif;
$font-cg: "Cormorant Garamond", "Arial", sans-serif;
